---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      <ol class="bibliography">
        <li>
          <div id="ref-1">
            <div class="abbr"></div>
            <div class="col-sm-10">
              <div class="title">Reference Publication</div>
              <div class="author"><em>Author, X.</em>, and <em>Author, Y.</em></div>
              <div class="periodical"><em>Example Journal</em>, 2024</div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
